<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links for css styling -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/footer.css">
    
    <title>Portfolio V1</title>
</head>
<body>
    <!-- below is the structure for navbar -->
    <div class="nav-bar-container">
        <div class="nav-bar">
            <ul>
                <li><a href="" class="name-logo">Sebastian<br>David.</a></li>
                <li><a href="#"  >Projects</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#contact-id">Contact</a></li>
            </ul>
        </div>
        <div class="btn-nav-bar">
            <button type="button" class="btn-resume">Resume</button>
        </div>
    </div>
    <!-- structure for navbar ends here -->

    <!-- main body components starts here -->
    <div class="main-container">
        <div class="left-container">
            <h1>test</h1>
        </div>
        <div class="right-container">
            <div class="right-content">
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>
                <h1>Projects</h1>

                
            </div>
        </div>
    </div>
    <div class="contact-container" id="contact-id">
        <h1>Contact form goes here</h1>
        <h1>Contact form goes here</h1>
        <h1>Contact form goes here</h1>
        <h1>Contact form goes here</h1>
        <h1>Contact form goes here</h1>
        <h1>Contact form goes here</h1>
    </div>
    <!-- <script src="/scripts/header.js"></script> -->
    <script src="/scripts/scroll.js"></script>
</body>
</html>