<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <!-- below is the structure for navbar -->
    <div class="nav-bar-container">
        <div class="nav-bar">
            <ul>
                <li><a href="#" class="name-logo">Sebastian<br>David.</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="btn-nav-bar">
            <button type="button" class="btn-resume">Resume</button>
        </div>
    </div>
    <!-- structure for navbar ends here -->
</body>
</html>