.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portait-img{
    max-width: 85%;
    max-height: auto;
    margin: 3em 1em;
    border-radius: 16px;
}

.container-text{
    font-size: clamp(12px, 1.5vw, 25px);
    margin: 0 3em;
}

.name-text{
    font-size: clamp(12px, 1.5vw, 35px);
    font-weight: bolder;
}