.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    background-color: #e2e2e2;
    padding: 1em;
    border-radius: 16px;
}

.project-img{
    max-width: 100%;
    max-height: auto;
    padding: 1em;
    border-radius: 38px;
}

.project-text{
    padding: 1em;
}